@model DragonDustWeb.ViewModels.GameDisplayViewModel

@{
    ViewBag.Title = "GameDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.TitleOneliner</h2>
<h2>@Model.Description</h2>

