@model DragonDustWeb.ViewModels.GameDisplayViewModel

@{
    ViewBag.Title = "GameDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.TitleOneliner</h2>
<h2>@Model.Description</h2>

<a href="@Model.GooglePlayLink&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
    <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="220" height="auto" />
</a>

