@model DragonDustWeb.ViewModels.GameDisplayViewModel

@{
    ViewBag.Title = "GameDisplay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div align="center">

    <img src="~/Content/Images/@Model.ContentFolderName/titleGraphic.png" width="100%" />
</div>
<hr />
<div class="row">
    <div class="column">
        <img src="~/Content/Images/@Model.ContentFolderName/phone.png" width="100%" />
    </div>
    <div class="column" align="center">
            <h2 style="font-weight:bold">@Model.TitleOneliner</h2>
            <h3 style="color:gray">@Model.Description</h3>
            <a href="@Model.GooglePlayLink&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="220" height="auto" />
            </a>
    </div>
</div>
<hr style="padding: 100px" />





