
@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div align="center">
    <h2>Our games:</h2>
    <hr/>
    <a href="@Url.Action("AncientTombAdventure","Games")">
        <img src="~/Content/Images/AncientTombAdventure/titleGraphic.png" width="80%" height="auto"/>
    </a>
    <hr/>
    <a href="@Url.Action("KidsMusicComposer","Games")">
        <img src="~/Content/Images/KidsMusicComposer/titleGraphic.png" width="80%" height="auto" />
    </a>
    <hr/>
</div>

