@{
    ViewBag.Title = "Contact";
}

<hr />
<h1 align="center">Contact us at:</h1>
<h2 align="center"><a href="mailto:dragondustgames.contact@gmail.com">dragondustgames.contact@gmail.com</a></h2>
<hr />