@{
    ViewBag.Title = "Home Page";
}



<div align="center" >
    <img id="asd" width="70%" style="margin:40px" src="~/Content/Images/namelogo.png" />
    <br />
    <a id="games-btn" class="btn btn-lg btn-primary" href="@Url.Action("Index","Games")">See our games</a>

</div>

@section scripts 
{
    <script>
        $("document").ready(function () {
            $("#asd").hide().fadeIn(1000);
            $("#games-btn").hide().delay(700).fadeIn(1000);
        });
    </script>
}