@model DragonDustWeb.ViewModels.CodesUploadViewModel

@{
    ViewBag.Title = "CodeUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Upload game codes</h1>

@using(Html.BeginForm("UploadCodes","GameCode", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">

        @Html.DropDownListFor(m => Model.GameIds,new SelectList(Model.GameNames),"Select game name",new { @class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(m => Model.CodesExpireDate)
        @Html.TextBoxFor(m => Model.CodesExpireDate, new { @class = "form-control"})
    </div>

    <div class="form-group">
        @Html.TextBoxFor(m => Model.File, new { type = "file", name="File"})
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

}
