@model DragonDustWeb.ViewModels.EmailViewModel

@{
    ViewBag.Title = "EmailRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Please enter your e-mail.</h2>
<h3 align="center">Your code will be sent to this adress.</h3>

<div align="center">
    @using(Html.BeginForm("SubmitEmail", "GameCode"))
    {
        <div  class="form-group">
            @Html.ValidationMessageFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class="form-control"})
        </div>
        @Html.HiddenFor(m => m.RequestedGameId)
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</div>

@section scripts 
{
    @Scripts.Render("~/bundles/jqueryval");
}