@model DragonDustWeb.ViewModels.EmailViewModel

@{
    ViewBag.Title = "EmailRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Please enter your e-mail.</h2>
<h3 align="center">Your code will be sent to this adress.</h3>

<div align="center">
    @using(Html.BeginForm("SubmitEmail", "GameCode", FormMethod.Post, new { @class = "form-inline" }))
    {
        @Html.ValidationMessageFor(m => m.Email)
        <div class="form-group-lg">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email adress" })

            @Html.HiddenFor(m => m.RequestedGameId)
            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}