@model DragonDustWeb.ViewModels.EmailViewModel

@{
    ViewBag.Title = "EmailRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Please enter your e-mail.</h2>
<h3 align="center">Your code will be sent to this adress.</h3>

@using(Html.BeginForm("SubmitEmail", "GameCode"))
{
    <div  class="form-group" align="center">
        @Html.TextBoxFor(m => Model.Email, new { @class="form-control"})
    </div>
    @Html.HiddenFor(m => Model.RequestedGameId)
    <button type="submit" class="btn btn-primary">Submit</button>
}

